@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";


@theme {
  --font-family-sans: "Tajawal", "sans-serif";

  --color-citio-blue: #3b82f6;
  --color-citio-gray: #4b5563;
  --color-background-card: #f9fafb;
  --color-text-primary: #111827;
  --color-secondary-text: #6b7280;
  --color-citio-green: #10b981;
  --color-citio-orange: #f59e0b;
  --color-background-input: #ffffff;
  --color-turquoise: #40e0d0;
}
